.hero-header {
    margin-top: 140px;

    .swiper {
        margin: 0;
        width: 100%;
        height: calc(100vh - 140px);

        img {
            max-width: 100%;
            min-height: 600px;
            object-fit: cover;
        }
    }
}